body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    padding: 3px;
}

a:hover {
    background-color: blue;
    color: white;
  }
  
.floatclass {
    float: left;
}

#floatid {
    float: right;
}